  <meta name="DC.identifier" content="{{edit 'Enter URL' 'URL here e.g. http://example.com'}}" />
  <meta name="DC.creator" lang="en" content="{{edit 'Enter creator name' 'Creator Name'}}"/>
  <meta name="DC.date.created" lang="en" content="2019-MM-DD"/>
  <meta name="DC.date.modifed" lang="en" content="2019-MM-DD"/>
  <meta name="DC.format" lang="en" content="text/html"/>
  <meta name="DC.language" content="en"/>
  <meta name="DC.coverage" lang="en" content="CA"/>
  <meta name="DC.publisher" lang="en" content="{{edit 'Enter publisher name' 'Publisher Name'}}" />
