  <meta property="og:site_name" content="{{edit 'Enter the project name' 'My Project' }}"/>
  <meta property="og:title" content="{{edit 'Enter the project title' 'My Project Title' }}"/>
  <meta property="og:description" content="{{edit 'Enter description' 'description...' }}"/>
  <meta property="og:type" content="website"/>
  <meta property="og:image" content="{{edit 'Enter URL to page image' 'e.g. http://www.example.com/image.svg' }}"/>
  <meta property="og:url" content="{{edit 'Enter URL to this page' 'e.g. http://www.example.com' }}"/>
